/*Mobile Menu Styling*/

.my-links {
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #122a57;
    background-image: url("../../../assets/images/menu-background.jpg");
    background-repeat: no-repeat;
    z-index: 20;
    opacity: 0.8;
    /* transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    animation: gb-popup-scale-blur 3s both; */
  }

  .my-links ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 85%;
    margin: 0 auto;
  }
  
  .my-links ul li a {
    text-decoration: underline;
  }

  .my-links ul li {
    margin-bottom: 32px;
  }

  .my-links a {
    color: #fff;
    font-weight: bolder;
    font-size: 32px;
    margin: 0 24px;
    padding-bottom: 5px;
    text-decoration: none;
  }
  
  .link:hover {
    text-decoration: underline;
  }

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #112c8f82;
    backdrop-filter: blur(3px);
    z-index: 5;
    animation: gb-popup-scale-blur 0.2s both;
  }

.mobile-nav-container {
    position: fixed;
    width: 100%;
    background-color: #fff;
}

.mobile-view {
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

.mobile-view a i {
    font-size: 26px;
    color: #122a57;
}

.close-btn-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px;
}

.close-btn-style {
    margin-left: 12px;
    color: #fff;
    font-size: 25px;
}

/*End of Mobile Menu Styling*/